name: Publish to zed-industries/extensions at newer iteration

on:
  workflow_dispatch: # manual run
  push: # auto run at tag
    tags:
      - "v*"

permissions:
  contents: read # read repo files
  pull-requests: write # create/update pulls

jobs:
  publish: # job publish
    name: Release Zed Extension
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        
      - uses: huacnlee/zed-extension-action@v2
        with:
          extension-name: sweet-dracula
          push-to: armync/extensions
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
